.grid {
  display: block;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  max-width: 1100px;
}

.accountsError {
  margin: 0 0 20px;
  background: #efefef url(/src/assets/img/label-xxl-shadow1100-bottom.png) 50% 100% no-repeat;
  border-radius: 0;
  border: 0 solid #000;
  padding: 0;
  box-shadow: none;
  width: 100%;
  font-size: 16px;
  vertical-align: baseline;
}

.error_p {
  background-position: 0 center;
  padding: 2px 0 5px 29px;
  margin: 10px 15px 5px 15px;
  background-size: 22px !important;
  background-image: url(/src/assets/img/exclamation.png) !important;
  background: 0 0;
  background-repeat: no-repeat;
  display: inline-block;
  line-height: 20px;
  border-radius: 0 6px 6px 0;
  color: #032b5a;
  font-size: 14px;
  letter-spacing: 0.7px;
  font-weight: 600;
}

.grid-row {
  margin-bottom: 20px;
  width: 100%;
  font-weight: 300;
}

.grid-image {
  height: 130px;
  width: 100%;
}

.grid-row-sign-in {
  padding: 25px 0 0 30px;
  color: #fff;
  position: absolute;
}

.grid-row-sign-in-text {
  font-size: 46px;
}

.grid-row-inner {
  margin: 0 auto;
  max-width: 1100px;
  display: block;
  height: auto;
  overflow: hidden;
}

.grid-body {
  width: 100%;
  margin-bottom: 20px;
  display: block;
  height: auto;
  overflow: hidden;
}

.grid-body-2 {
  width: 100%;
  margin: 0;
  display: block;
  height: auto;
  overflow: hidden;
}

.section-wrap {
  width: 100%;
  margin-bottom: 0;
  min-width: 320px;
  max-width: 1100px;
  clear: both;
}

.grid-body-2-inner-col {
  padding: 2em 2em 0;
}

.safe-heading {
  color: #032b5a;
  font-size: 22px;
  font-weight: 100;
  line-height: 1em;
  margin: 0;
}

.grid-body-col1 {
  min-width: 350px;
  width: 390px;
  float: left;
}

.grid-body-col2 {
  min-width: inherit;
  margin-left: 390px;
  float: none;
  width: auto;
}

.formPanel {
  background: #fff !important;
}

.panelContentWrap {
  padding: 2em;
}

.infoPanel {
  padding: 2em;
}

.desktopview {
  color: #032b5a;
  font-size: 26px;
  margin: 0 0 1em 0;
  padding: 0;
  font-weight: 100;
  line-height: 1em;
  text-align: start;
}

.margin-0 {
  margin: 0 !important;
}


.cta-1-p {
  font-weight: 600;
  padding: 1em 0;
  color: #032b5a;
  font-size: 14px;
  line-height: 1.25em;
  letter-spacing: 0.5px;
}

.help {
  color: #515559;
  padding: 0;
  margin: 0;
}

.align-bottom {
  padding: 2em 0 0;
  margin: 0;
  letter-spacing: 0.5px;
}

#forgottenDetails {
  color: #419eda;
  font-size: 14px;
  font-weight: 600;
  -webkit-tap-highlight-color: #88CCFF;
  padding: 0 0px 0px 25px;
  text-decoration: none;
}

.product-cta {
  cursor: pointer;
  color: #FFF;
  background: url(/src/assets/img/promo-cta-arrow.png) no-repeat scroll 0px -33px transparent;
  padding: 0 0px 5px 25px;
  display: block;
  font-size: 0.875em;
  letter-spacing: 0.5px;
}

.back-to-top {
  letter-spacing: 0.5px;
  cursor: pointer;
  color: #419eda;
  font-size: 14px;
  text-decoration: none;
  display: block;
  font-weight: 600;
  margin: 35px 18px 34px;
  line-height: 20px;
  background: url(/src/assets/img/arrow-up.png) no-repeat scroll 2px 6px transparent;
  padding: 0 0 0 25px;
}

.product-cta:hover {
  text-decoration: underline !important;
}

.cta {
  padding-bottom: 2em;
}

.bulletList {
  margin-left: 1em;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.bulletList-li {
  color: #032b5a;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.form-fields {
  margin: 1em 0 0 0;
  padding: 0;
  width: 100%;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

.form-label {
  color: #032b5a;
  font-size: 13px;
  display: block;
  line-height: 1em;
  width: 100%;
  margin: 1em 0 0 0;
  font-weight: 600;
  letter-spacing: 1px;
}

.form-rememberMe {
  color: #032b5a;
  font-size: 13px;
  display: inline;
  font-weight: 600;
  margin: 0 0.7em;
  letter-spacing: 1px;
  line-height: 1em;
  vertical-align: middle;
}

.form-submit-1 {
  background: #d8d8d8;
  color: #fff;
  border: 1px solid #d8d8d8;
  padding: 9px 19px !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  filter: none;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  overflow: visible;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom;
  line-height: 1.45em;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  width: auto;
  font-weight: 400;
  height: auto;
}

.form-submit-1:hover {
  background: #f2f2f2;
}

.form-submit-2 {
  background: linear-gradient(to bottom, #419ed9 0, #3f99d5 17%, #3985c9 48%, #3282bb 75%, #2f7cb4 100%);
  color: #fff;
  border: 1px solid #419ed9;
  padding: 9px 19px !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  filter: none;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  overflow: visible;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom;
  line-height: 1.45em;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  width: auto;
  font-weight: 400;
  height: auto;
}

.form-submit-2:hover {
  background: #0B568F;
  border: 1px solid #0B568F;
}

.rememberMe-checkbox {
  width: auto;
  display: inline-block;
  height: 1em;
  line-height: 1em;
  vertical-align: middle;
  font-size: 1em;
  font-weight: normal;
  margin: 0 0.2em;
}

.form-input {
  border-color: #d8d8d8;
  width: 100%;
  display: block;
  padding: 6px 8px 4px;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  margin: 8px 0;
  border: 1px solid #d8d8d8;
}

.rememberMe {
  text-align: left;
  margin: 1em 0;
  padding: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .grid-image {
    height: 110px;
  }

  .grid-row-sign-in {
    padding: 27px 0 0 20px;
  }

  .grid-row-sign-in-text {
    font-size: 30px;
  }

  .grid-row {
    margin-bottom: 0;
  }

  .grid-body-col1 {
    width: 97%;
  }

  .grid-body-col2 {
    width: 100%;
    margin-left: 0;
  }

  .panelContentWrap {
    padding: 1.3em;
  }

  .section-wrap {
    display: grid;
  }

  .infoPanel {
    padding: 1.3em;
  }

  .grid-body-2-inner-col {
    padding: 1.3em;
  }

  .form-submit {
    width: 100% !important;
  }
}

@media (max-width: 575px) {
  .grid-image {
    height: 60px;
  }

  .grid-row-sign-in {
    padding: 18px 0 0 20px;
  }

  .grid-row-sign-in-text {
    font-size: 1.5em;
  }
}

@media (min-width: 768px) {
  .back-to-top {
    display: none;
  }
}